
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://www.facebook.com/alshakur.karimchowdhury">
            EIJAJ
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/alshakur.karimchowdhury">
            About Us
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/alshakur.karimchowdhury">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed by
      <a href="https://www.fb.com/alshakur.karimchowdhury" target="_blank">EIJAJ</a>. Coded by
      <a href="https://www.fb.com/alshakur.karimchowdhury" target="_blank">Shakur Chowdhury</a>.
    </div>
  </div>
</footer>
