@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.sbtn{
  border-width: 2px;
  font-weight: 600;
  font-size: 0.8571em;
  line-height: 1.35em;
  border: none;
  margin: 10px 1px;
  border-radius: 0.1875rem;
  padding: 11px 22px;
  cursor: pointer;
  background-color: forestgreen;
  color: #FFFFFF;
}
.ssbtn {
  border-color: #0767ab;
  border-width: .5px;
  font-weight: 400;
  font-size: 0.8571em;
  line-height: 1em;
  margin: 6px 300px;
  border-radius: 1.1875rem;
  padding: 11px 22px;
  cursor: pointer;
  background-color: transparent;
  color: #0767ab;
}

.a:hover {
  cursor:pointer;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    20;
  top:        0;
  left:       0;
  position:   fixed;
}
