<script src="../service/app.service.ts"></script>
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="overlay" *ngIf="showSpinner">
    <div class="center">
      <mat-progress-spinner diameter=130
                            mode="indeterminate"
                            color="primary">
      </mat-progress-spinner>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Meetings</h4>
        </div>
        <div class="card-body">
          <p>
            <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
          </p>
          <div class="table-responsive" >
            <data-table [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" >
              <data-table-column [property]="'meetingId'" [header]="'ID'" [sortable]="true" [resizable]="true">

              </data-table-column>
              <data-table-column [property]="'venue'" [header]="'Venue'" [sortable]="true" [resizable]="true">
                <ng-template #dataTableCell let-item ="item">
                  {{item.venue.venueId}}
                </ng-template>
              </data-table-column>
              <data-table-column [property]="'subject'" [header]="'Subject'" [sortable]="true" [resizable]="true">

              </data-table-column>
              <data-table-column [property]="'startDateAndTime:'" [header]="'Start Date and Time'" [sortable]="true" [resizable]="true">
                <ng-template #dataTableCell let-item ="item">
                  {{ item.startDateAndTime | date:'dd/MM/yyyy h:mma'}}
                </ng-template>
              </data-table-column>
              <data-table-column [property]="'endDateAndTime'" [header]="'End Date and Time'" [sortable]="true" [resizable]="true">
                <ng-template #dataTableCell let-item ="item">
                  {{ item.endDateAndTime | date:'dd/MM/yyyy h:mma'}}
                </ng-template>
              </data-table-column>
              <data-table-column [header]="'Employees'" [resizable]="true">
                <ng-template #dataTableCell let-item ="item">
                  <li *ngFor="let e of item.employeeList">{{e.name}}</li>
                </ng-template>
              </data-table-column>
              <data-table-column>
                <ng-template #dataTableCell let-item ="item">
                  <a [routerLink]="['/meeting/', item.meetingId]"><mat-icon>edit</mat-icon></a>
                  <a (click)="deleteMeeting(item)" class="a"><mat-icon>delete_outline</mat-icon></a>
                </ng-template>
              </data-table-column>
            </data-table>
          </div>
          <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/meeting">Create a Meeting</button>
        </div>
      </div>
    </div>
  </div>
</div>

